<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img src="assets/icon/logo.png" class="logo">
            <ion-button class="ion-float-end">{{'SIGNIN'| translate}}</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <ion-item class="ion-activated" *ngFor="let product of product_lists">
            <ion-img [src]="product.src" class="product-image"></ion-img>
            <ion-label>{{product.title | translate}}</ion-label>
        </ion-item>
    </ion-card>

    <div class="ion-padding">

        <!-- Theme classes dark, material, bootstrap -->
        <ngx-datatable
                class="material"
                [rows]="rows"
                [rowHeight]="50"
                [columnMode]="'force'"
                [sortType]="'multi'"
                [headerHeight]="50"
                [footerHeight]="50">
            <ngx-datatable-column [name]="'FirstName' | translate">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['firstName']}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'LastName' | translate">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['lastName'] }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'Email' | translate">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['email'] }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'Profile' | translate">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['profile'] }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'Status' | translate">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row['status'] }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>

</ion-content>
